// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	padding: 1rem 0;
	background: #f9f9fb;
}

.card {
	width: 400px;
	display: inline-block;
	margin: 1rem;
	border-radius: 4px;
	box-shadow: 0 -1px 1px 0 rgba(0,0,0,.05), 0 1px 2px 0 rgba(0,0,0,.2);
	transition: all .2s ease;
	background: #fff;
	position: relative;
	overflow: hidden;
	background-color: black;
	
	&:hover, &.hover {
		transform: translateY(-4px);
		box-shadow: 0 4px 25px 0 rgba(0,0,0,.3), 0 0 1px 0 rgba(0,0,0,.25);
		
		& .card-content {
			box-shadow: inset 0 3px 0 0 #ccb65e;
			background-color: #ccb65e;
			color: black;
		}
		
		& .card-img .overlay {
			background-color: rgba(25,29,38,.85);
			transition: opacity .2s ease;
			opacity: 1;
		}
	}
	
	&-img {
		position: relative;
		height: 424px;
		width: 100%;
		background-color: rgb(12, 0, 0);
		transition: opacity .2s ease;
		
		background-repeat: no-repeat;
		background-size: 100%;
		
		& .overlay {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #fff;
			opacity: 0;
			
			& .overlay-content {
				line-height: 224px;
				width: 100%;
				text-align: center;
				color: #fff;
				
				& a {
					color: #fff;
					padding: 0 2rem;
					display: inline-block;
					border: 1px solid rgba(255,255,255,.4);
					height: 40px;
					line-height: 40px;
					border-radius: 20px;
					cursor: pointer;
					text-decoration: none;
					
					&:hover, &.hover {
						background: #ccb65e;
						border-color: #ccb65e;
					}
				}
			}
		}
	}
	
	&-content {
    width: 100%;
    min-height: 104px;
	color:#ccb65e;
    background-color: #202927;
    border-top: 1px solid #E9E9EB;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
		padding: 1rem 2rem;
		transition: all .2s ease;
		
		& a {
			text-decoration: none;
			color: #202927;
		}
		
		& h2, a h2 {
			font-size: 1rem;
			font-weight: 500;
		}
		
		& p, a p {
			font-size: .8rem;
			font-weight: 400;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			color: rgba(32, 41, 28, .8);
		}
	}
}

.demo{ background: #3d3d3d; }
.testimonial{
    padding: 35px 50px;
    margin: 0 20px 30px;
    border-radius: 0 70px 0 70px;
    border: 5px solid #ffc33c;
    border-left: none;
    border-right: none;
    text-align: center;
}
.testimonial .pic{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    overflow: hidden;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .title{
    display: block;
    margin: 0 0 7px 0;
    font-size: 20px;
    font-weight: 600;
    color: #ffc33c;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.testimonial .post{
    display: block;
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.testimonial .description{
    font-size: 16px;
    color: #fff;
    line-height: 30px;
}
.owl-theme .owl-controls{ margin-top: 0; }
.owl-theme .owl-controls .owl-page span{
    background: #fff;
    opacity: 0.8;
    transition: all 0.3s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span{ background: #ffc33c; }
.kicsitable {
	border-radius: 25px !important;
	border-width: 5px !important;
	border-style: solid !important;
	border-color: #3d3d3d;
	padding-top: 1%;
	margin: 0px auto;
	float: none;
  }